.Shop-header {
    background-image: linear-gradient(90deg, rgb(223, 106, 106), rgb(223, 198, 117));
    min-height: 100vh;
    height: 10vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}